<h2>Welcome</h2>

<p>Welcome to Meadowlark Travel! Please signn up to our newsletter usingeither</p>
<ul>
    <li><a href="/newsletter-signup">Old-school form submissing</a>.</li>
    <li><a href="/newsletter">Async form sumission (recommended)</a>.</li>
</ul>

<p>Also. please enter our Vacation Photo Contest using either:</p>
<ul>
    <li><a href="/contest/vacation-photo">Old-school form submissing</a>.</li>
    <li><a href="/contest/vacation-photo-ajax">Async form submissing (recommended)</a>.</li>
</ul>

<p>(Note to reader: we would never actually give users silly choices this on areal website...this is just for you to see
    the difference!)</p>

{{> weather}}